*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

body{
  min-height: 100vh;
  background: linear-gradient(135deg, #141e30, #243b55);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container{
  background: rgba(255,255,255,0.12);
  padding: 40px;
  border-radius: 18px;
  width: 360px;
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
}

label{
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 10px;
}

input{
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  margin-bottom: 20px;
}

input:focus{
  box-shadow: 0 0 8px #00ffd5;
}

button{
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(90deg, #00f260, #0575e6);
  color: white;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  transform: scale(1.05);
  box-shadow: 0 0 12px #00f260;
}

#bill{
  margin-top: 25px;
  background: black;
  padding: 18px;
  border-radius: 12px;
  color: #00ffd5;
  font-size: 22px;
  font-weight: bold;
  box-shadow: 0 0 12px #00ffd5;
  list-style: none;
}
