*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

body{
  min-height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  display: flex;
  align-items: center;
  justify-content: center;
}

form{
  width: 360px;
  background: rgba(255,255,255,0.12);
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 0 25px rgba(0,0,0,0.6);
  text-align: center;
}

input{
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

input:focus{
  box-shadow: 0 0 8px #00ffd5;
}

button{
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(90deg, #00f260, #0575e6);
  color: white;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  transform: scale(1.05);
  box-shadow: 0 0 12px #00f260;
}

#result{
  margin-top: 20px;
  background: black;
  padding: 15px;
  border-radius: 12px;
  color: #00ffd5;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 0 12px #00ffd5;
}
